/*--------------------------------------------------------------
1.0 Common
--------------------------------------------------------------*/
a:hover , a:focus {color: #ee591f;}
.entry-meta a:hover span,.entry-meta a:focus span {color: #ee591f;}
dl dd a, dl dd a:hover, dl dd a:focus, ul li a:focus { color: #ee591f; }

/*--------------------------------------------------------------
2.0 Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="submit"] {
  color: #ee591f;
  border:1px solid #ee591f;
}
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #ee591f;
  outline: #ee591f;
  border:1px solid #ee591f;
}
/* Placeholder text color */
.form-control:focus {
  border: thin dotted #ee591f !important;
}
.wpkites-preloader-cube .wpkites-cube:before{background: #ee591f;}
#preloader2 .square {background: #ee591f;}
/*============================3.0 BUTTONS============================*/
.btn-default { background: #ee591f;border: 1px solid #ee591f;}
.btn-light:hover, .btn-light:focus { background: #ee591f;border: 1px solid #ee591f; }

.btn-default-dark { background: #ee591f; }
.btn-default-light { background: #ee591f;border: 1px solid #ee591f; }
.btn-default-light:hover, .btn-default-light:focus { color: #ee591f;border: 1px solid #ee591f; }

.btn-border { border: 2px solid #ee591f; }
.btn-border:hover, .btn-border:focus { border: 2px solid #ee591f;}

.btn-light:not(:disabled):not(.disabled):active {
  background-color: #ee591f;
  border-color: #ee591f;
}

/*==================7.0 HEADER CONTACT DETAILS===============================*/
.header-sidebar {
  background: #ee591f;
}
.btn-style-one {
  color: #ee591f;
  border: 1px solid #ee591f;
}
.btn-style-one:hover,.btn-style-one:focus {background-color: #ee591f;}
.custom-social-icons li > a:hover, 
.custom-social-icons li > a:focus {color:#ee591f;}

/* ==================== Search Box Style==============================*/

/* 2. Search Bar Fullscreen - hidden search field */
#searchbar_fullscreen .btn {
  background-color: #ee591f;
}
#searchbar_fullscreen .close {
  background-color: #ee591f;
  border-color: #ee591f;
}
.search-box-outer a.text-dark,.search-box-outer a.text-dark:focus,.search-box-outer a.text-dark:hover{color:#ee591f !important;}

/* ============================ Search Box =====================================*/
.search-form input[type="submit"] {
  background: #ee591f none repeat scroll 0 0;
  border: 1px solid #ee591f;
}
.search-box-outer a:hover, .search-box-outer a:focus {color:#ee591f; }

/*============================= 9.0 Woocommerce Header Cart==========================*/
.navbar .search-box-outer .dropdown-menu,.header-logo .search-box-outer .dropdown-menu{
  border-top: solid 1px #ee591f;
}
/*.navbar .nav .nav-item .cart-header > a:focus {color:#ee591f;}*/
.cart-header > a.cart-total {
  background: #ee591f;
}

/*======10.0  Main Slider - Owl Carousel============================================*/
.pointer-scroll {
  background: #ee591f;
}

/*========================11.0  OWL SLIDER NEXT - PREV BUTTONS===================*/
.owl-carousel .owl-prev:hover, 
.owl-carousel .owl-prev:focus { 
  background-color: #ee591f;
  border-color: #ee591f;
}
.owl-carousel .owl-next:hover, 
.owl-carousel .owl-next:focus { 
  background-color: #ee591f;
  border-color: #ee591f;
}

/* =====================================12.0 Cta Section========================*/
.cta_main { background-color: #ee591f;}
/*.cta_content .btn-light {color: #ee591f;}*/
.cta_content .btn-light:hover , .cta_content .btn-light:focus { background: #ee591f; }
.cta_content .btn-light:not(:disabled):not(.disabled):active {
  background-color: #ee591f;
}
/*.cta-2 .overlay {
  background-color: rgba( 238,89,31,.8);
}*/
/* ==================================13.0 SECTION HEADER===========================*/
.section-header .section-title { color:#ee591f;}

/* ==========================14.0 Mixed Classes====================================*/
.section-space .owl-theme .owl-dots .owl-dot.active span { border-color: #ee591f;}
.separator {
  color: #ee591f;
}
.separator::before {
  background: linear-gradient(to right, rgba(238,89,31,0), #ee591f);
}
.separator::after {
  background: linear-gradient(to left, rgba(238,89,31,0), #ee591f);
}
.owl-theme .owl-dots .owl-dot.active span{border-color: #ee591f;}
/*===================================================================================
15.0 Service Section , Service Section 2 , Service Section 3 , Service Section 4
===================================================================================*/
.services .post:hover,.services .post:focus { 
  border:1px solid #ee591f;
  outline: 1px solid #ee591f;
}
.services .post-thumbnail i.fa { 
  color: #ee591f;
}
.services .entry-header .entry-title a:hover, .services .entry-header .entry-title a:focus {color: #ee591f;}

.services2 .post::before {
  background-color: #ee591f;
}
.services2 .post-thumbnail i.fa { 
  color: #ee591f;  
}

.services3 .post .entry-header .entry-title a:hover, .services3 .post .entry-header .entry-title a:focus{color: #ee591f;}
.services3 .post-thumbnail i.fa { 
  background: #ee591f;
  box-shadow: #ee591f 0px 0px 0px 1px;
}
.services3 .post:hover .post-thumbnail i.fa, .services3 .post:focus .post-thumbnail i.fa { 
  color: #ee591f; 
}

.services4 .post .entry-header .entry-title a:hover,
.services4 .post .entry-header .entry-title a:focus{color: #ee591f;}
.services4 .post-thumbnail i.fa { 
  color: #ee591f;  
}

/* =========================== 16.0 Portfolio Section ===============*/
.portfolio .portfolio-thumbnail .portfolio-item-description .see-more> :first-child {
  color:#ee591f;
}
.portfolio .portfolio-thumbnail .overlay {
  background: rgba( 238,89,31,.9);
}
/*--------------------- Portfolio tab -------------------------------*/
.md-pills .nav-link.active,.md-pills .nav-link:hover, .md-pills .nav-link:focus { 
  background-color: #ee591f;
}

/*===================================================================================*/
/* 18.0 Team Section , Team Section2 , Team Section3 , Team Section4
/*===================================================================================*/
.team figcaption span {color: #ee591f;}
.team .team-grid .img-holder .custom-social-icons {
  background: #ee591f padding-box content-box;
}
.team2 .name{color:#ee591f;}
.team2 .team-grid .card-body .list-inline li > a:hover,
.team2 .team-grid .card-body .list-inline li > a:focus  {color: #ee591f;}

.team3 .team-grid .card-body .list-inline li > a:hover,
.team3 .team-grid .card-body .list-inline li > a:focus  {color: #ee591f;}

.team4 .list-inline  > a:hover, .team4 .list-inline  > a:focus { color: #ee591f;}
.team4 .team-grid .list-inline li > a:hover,
.team4 .team-grid .list-inline li > a:focus { color: #ee591f;}

/* ====================== 19.0 Funfact Section  ===============*/
.funfact-inner:hover, .funfact-inner:focus { background-color: #ee591f }

/*--------------------------------------------------------------
20.0 Blog Section
20.1 Blog Article
--------------------------------------------------------------*/
.more-link i{color: #ee591f;}
.entry-date a { background-color: #ee591f;color: #ffffff; }
.entry-meta span:after {color: #ee591f;}
.entry-content p a:hover, .entry-content p a:focus{color: #ee591f;}
.post .entry-content a:focus i , .post a:focus span{color: #ee591f;}

/* ========================= 20.2 Sidebar ====================== */
.sidebar .custom-social-icons li > a:hover,
.sidebar .custom-social-icons li > a:focus{background-color: #ee591f;}
.widget .search-submit , .widget .search-field [type=submit] {
  background: #ee591f;
}
.widget .tagcloud a:hover, .widget .tagcloud a:focus{background-color: #ee591f;}
.subscribe-form  .btn-default:hover,.subscribe-form .btn-default:focus {
  background: #ee591f;
  border: 1px solid #ee591f;
}
/*.site-footer .subscribe-form .btn-default,
.site-footer .subscribe-form .btn-default:hover, 
.site-footer .subscribe-form .btn-default:focus {
  color: #ee591f;
}*/
/*.site-footer .site-info .subscribe-form .input-group .form-control {
  border: 1px solid #ee591f;
}*/
.sidebar .widget .widget-title:after , .sidebar .widget .widget-title:before {background-color: #ee591f;}
.banner-widget {
  background-color: #ee591f;
}
.sidebar .widget a:hover, .sidebar .widget a:focus { color: #ee591f;}


/* ================ 20.3  Blog Single post =================================*/
.related-post .single-post .fa { 
  color: #ee591f;
}
.comment-form .comment-reply-title{color: #ee591f;}
.related-post .single-post a:hover .fa, .related-post .single-post a:focus .fa { 
  background:#ee591f; 
}

/*21.0 =================== Shop and product section ==========================*/
.view-product-info .btn-default:hover,.view-product-info .btn-default:focus {
  background: #ee591f;
  border: 1px solid #ee591f;
}
.add-to-cart .btn-light {color: #ee591f;}
.add-to-cart a:hover , .add-to-cart a:focus{background: #ee591f;}

.products h5 a:hover , .products h5 a:focus { color: #ee591f;}
.product-price .woocommerce-Price-amount { color: #ee591f; }
.woocommerce ul.products li.product .onsale, .products span.onsale, .woocommerce span.onsale{
  background: #ee591f;
}
.woocommerce ul.product_list_widget li a:hover, 
.woocommerce ul.product_list_widget li a:focus, 
.woocommerce .posted_in a:hover, 
.woocommerce .posted_in a:focus {
  color: #ee591f;
}

/* ============== 22.0  footer section site info  ==========================*/
.site-info {
  background-color: #ee591f;
}
.footer-sidebar .woocommerce .posted_in a:hover, 
.footer-sidebar .woocommerce-product-rating a:hover, 
.footer-sidebar .woocommerce .tagged_as a:hover, 
.footer-sidebar .woocommerce-cart table.cart td a:hover, 
.footer-sidebar .woocommerce ul.cart_list li a:hover, 
.footer-sidebar .woocommerce ul.product_list_widget li a:hover,
.footer-sidebar .woocommerce .posted_in a:focus, 
.footer-sidebar .woocommerce-product-rating a:focus, 
.footer-sidebar .woocommerce .tagged_as a:focus, 
.footer-sidebar .woocommerce-cart table.cart td a:focus, 
.footer-sidebar .woocommerce ul.cart_list li a:focus, 
.footer-sidebar .woocommerce ul.product_list_widget li a:focus  {
  color: #ee591f;
}
.footer-sidebar a:hover,.footer-sidebar a:focus{color:#ee591f;}
.footer-sidebar .head-contact-info i ,.footer-sidebar .address-info i {color: #ee591f}
.footer-sidebar h2 span {color: #ee591f;}

.site-footer .footer-sidebar .head-contact-info li a:hover,.site-footer .footer-sidebar .head-contact-info li a:focus { color: #ee591f; }
.site-info .footer-sidebar .widget .tagcloud a:hover,
.site-info .footer-sidebar .widget .tagcloud a:focus  {
  color: #ee591f !important;
}
.site-info .footer-sidebar .widget .search-submit, .site-info .footer-sidebar .widget .search-field [type=submit] {
  color: #ee591f;
}

/* =========================== Page Scroll Up ==========================*/
.scroll-up a {
  background: #ee591f;
}

/* ========================== 24.0 Sponser section  ====================*/
.sponsors .owl-carousel .owl-prev:hover, .sponsors .owl-carousel .owl-prev:focus { opacity: 1;background-color: #ee591f; border: 1px solid #ee591f;}
.sponsors .owl-carousel .owl-next:hover, .sponsors .owl-carousel .owl-next:focus { opacity: 1; background-color: #ee591f;border: 1px solid #ee591f;}

/*===================================================================================
25.0 Testimonial Section , Testimonial Section 2
===================================================================================*/
.testimonial.testimonial-1 .testimonial-block .inner-box .content-column .inner-column:before{
  background-color:#ee591f;
}
.testimonial.testimonial-1 .testimonial-block .inner-box .content-column .quote-icon .icon{
  color:#ee591f;
}
.testimonial.testimonial-1 .testimonial-block .inner-box .content-column .author-info .designation{
  color:#ee591f;
}
.testimonial.testimonial-1 .client-thumb-outer .thumb-item .thumb-box{
  background-color:#ee591f;
}
.testimonial.testimonial-1 .owl-nav .owl-prev:hover,
.testimonial.testimonial-1 .owl-nav .owl-next:hover,
.testimonial.testimonial-1 .owl-nav .owl-prev:focus,
.testimonial.testimonial-1 .owl-nav .owl-next:focus{
  color:#ee591f;
  border-color:#ee591f;
}
#testimonial-carousel2 .testimonial-block {
  border-left: 0.25rem solid #ee591f;
}
#testimonial-carousel2 .testimonial-block:before {
  border-top: 1.5625rem solid #ee591f;
}

/*--------------------------------------------------------------
 27.0 header variation Layout2 , header variation Layout3
--------------------------------------------------------------*/
.site-info .custom-social-icons li > a:hover, .site-info .custom-social-icons li > a:focus {
  color: #ee591f;
}
.btn-style-two:hover, .btn-style-two:focus{
  color: #ee591f;
}
.layout2 .head-contact-info li a:hover, .layout2 .head-contact-info li a:focus {  color: #ee591f;}
.layout3 .contact-icon i {
  color: #ee591f;
}
.layout2 a.text-dark:focus,.layout2 a.text-dark:hover,
.layout3 a.text-dark:focus,.layout3 a.text-dark:hover{
  color: #ee591f !important;
}
.layout2.navbar .options-box .nav-search a:hover,
.layout2.navbar .options-box .cart-header > a.cart-icon:hover,
.layout2.navbar .options-box .nav-search a:focus,
.layout2.navbar .options-box .cart-header > a.cart-icon:focus,
.layout3.navbar .options-box .nav-search a:hover,
.layout3.navbar .options-box .cart-header > a.cart-icon:hover,
.layout3.navbar .options-box .nav-search a:focus,
.layout3.navbar .options-box .cart-header > a.cart-icon:focus{
  color: #ee591f;
}

/* ================= 28.0 Contact Page , Contact Page4 =========*/
.contact-section .contact-info-outer{background-color: #ee591f;}
.contact-section .contact-form .subtitle{color:#ee591f;}
.contact-section .contact-form button,
.contact-section .contact-form input[type="button"],
.contact-section .contact-form input[type="submit"]{
  color: #ee591f;
}
.conatct-page4.contact-info .contact-icon i{
  color: #ee591f;
}
.conatct-page4.contact-info .contact-widget:hover, .conatct-page4.contact-info .contact-widget:focus {
  background-color: #ee591f;
}
/* ==================== 28.0 Breadcrumnb ======================*/
.page-title-section .page-title h1 {
  color: #ee591f;
}
.page-breadcrumb span { color:#ee591f; }
.page-breadcrumb span a:hover, .page-breadcrumb span a:focus{ color:#ee591f;}
.page-breadcrumb .icon::before{
  color: #ee591f;
}
/* ==================== 29.0 Pagination ======================*/
.pagination a.active,.woocommerce .woocommerce-pagination .page-numbers.current {
  background-color: #ee591f;
  border-color: #ee591f;
}
.pagination a:before,.woocommerce .woocommerce-pagination li a:before{
  background-color: #ee591f;
}
.about-section .section-header .section-subtitle{color:#ee591f;}
.about-section .about-area .title a:hover, .about-section .about-area .title a:focus{ color:#ee591f;}

/* ===============  31.0  Error 404 page =====================*/
.error-page .title {
  color: #ee591f;
}
/* ==================== Smartmenus Navbar ======================*/
.navbar .nav .nav-item .nav-link:hover,
.navbar .nav .nav-item .nav-link:focus,
.navbar .nav .nav-item.active .nav-link,
.navbar .nav .dropdown-item.active, 
.navbar .nav .dropdown-item:active,
.navbar .nav .dropdown-item:hover,
.navbar .nav .dropdown-item:focus {
    color: #ee591f !important;
}
.dropdown-item.active, .dropdown-item:active,.dropdown-item:hover ,.dropdown-item:focus {
    background-color: transparent;
    color:#ee591f;
}
.services5 .post-thumbnail i.fa {
    background: #ee591f;
}
.services5 .post:hover .post-thumbnail i.fa {
    color: #ee591f;
}
.services5 .post:hover {
    background: #ee591f;
}
.cta_content .btn-light{background-color: #ee591f;}
.cta_content .btn-light:hover,.cta_content .btn-light:focus {background-color: #ffffff; color: #ee591f;}
.entry-date a:hover span, .entry-date a:focus span{
    background-color: #ee591f;
    color: #ffffff;
}
.site-footer .subscribe-form .btn-default, 
.site-footer .subscribe-form .btn-default:hover,
.site-footer .subscribe-form .btn-default:focus {
    color: #ffffff;
    background: #ee591f;
}
.about-section .about-area .about-icon {
    color: #ee591f;
}
.footer-sidebar .wp-block-search .wp-block-search__button, .sidebar .wp-block-search .wp-block-search__button{
    background-color: #ee591f;
}
.sidebar .wp-block-search .wp-block-search__label:before,
.sidebar .widget.widget_block h1:before,
.sidebar .widget.widget_block h2:before,
.sidebar .widget.widget_block h3:before,
.sidebar .widget.widget_block h4:before,
.sidebar .widget.widget_block h5:before,
.sidebar .widget.widget_block h6:before,.sidebar .widget.widget_block .wc-block-product-search__label:before {    
    background-color: #ee591f;    
}

.sidebar .wp-block-search .wp-block-search__label:after,
.sidebar .widget.widget_block h1:after,
.sidebar .widget.widget_block h2:after,
.sidebar .widget.widget_block h3:after,
.sidebar .widget.widget_block h4:after,
.sidebar .widget.widget_block h5:after,
.sidebar .widget.widget_block h6:after,.sidebar .widget.widget_block .wc-block-product-search__label:after {
    background-color: #ee591f;
}

.sidebar .widget .wp-block-tag-cloud a:hover ,
.sidebar .widget .wp-block-tag-cloud a:focus ,
.footer-sidebar .widget .wp-block-tag-cloud a:hover ,
.footer-sidebar .widget .wp-block-tag-cloud a:focus {background-color: #ee591f;}
.sidebar .wp-block-search .wp-block-search__button {
    background-color: #ee591f;
}
@media (min-width: 992px) {
  
    .navbar4 .header-lt::before {
        background-color: #ee591f;        
    }
    .navbar4 .header-lt::after {        
        background-color: #ee591f;
    }
}
@media (max-width: 991px) {
  .navbar4 .header-lt {
      background-color: #ee591f;
  }
}
.navbar.navbar6 .nav .nav-item .nav-link:hover, 
.navbar.navbar6 .nav .nav-item .nav-link:focus, 
.navbar.navbar6 .nav .nav-item.active .nav-link, 
.navbar.navbar6 .nav .nav-item:hover .nav-link, 
.navbar.navbar6 .nav .nav-item .nav-link:focus {
    background: #ee591f;
}
.navbar.navbar6 .nav .nav-item.active .nav-link {
    background-color: #ee591f;
}
.navbar .bg-light{
background-color: #ee591f !important;
}
.navbar .nav .nav-item .dropdown-item
.navbar-nav .sm-nowrap > li.show > .dropdown-item,
.navbar-nav .sm-nowrap > li.current_page_parent > .dropdown-item,
.navbar .nav.navbar-nav .sm-nowrap > li.current_page_parent > .dropdown-item,
.navbar-nav .current_page_ancestor .nav-link,
.navbar-nav .sm-nowrap > li.show > .dropdown-item.text-dark:hover,.navbar-nav .sm-nowrap > li.show > .dropdown-item.text-dark {
  color: #ee591f !important;
}
.navbar-nav .current_page_ancestor .nav-link,{
  color: #ee591f;
}
.portfolio .md-pills .nav-link.active,
.portfolio .md-pills .nav-link:hover,
.portfolio .md-pills .nav-link:focus{
    background-color: #ee591f;
}
.woocommerce-info{
    border-top-color: #ee591f;
}
.woocommerce-info::before {
   color: #ee591f;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce ul.products li.product .button, 
.woocommerce div.product form.cart .button,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce a.button.alt,.woocommerce .coupon .button:hover,.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,.woocommerce button.button.alt,.woocommerce #review_form #respond .form-submit input,
.woocommerce .woocommerce-message .button,.woocommerce a.button, .woocommerce a.button:hover {
   background-color: #ee591f;
}

.woocommerce ul.products li.product .price ins, 
.woocommerce div.product p.price ins, 
.woocommerce ul.products li.product .price .woocommerce-Price-amount.amount, 
.woocommerce .variations td.label, 
.woocommerce .woocommerce-ordering select, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.select2-container .select2-choice{
  color:#ee591f ;
}
.woocommerce nav.woocommerce-pagination ul li a:before {
   background-color: #ee591f;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
  color: #ee591f;
}

.woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span:hover {
    background-color: #ee591f;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce ul.products li.product .button, 
.woocommerce div.product form.cart .button,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce a.button.alt,.woocommerce .coupon .button:hover,.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,.woocommerce button.button.alt,.woocommerce #review_form #respond .form-submit input,
.woocommerce .woocommerce-message .button,.woocommerce a.button, .woocommerce a.button:hover {
   background-color: #ee591f;
}

.woocommerce ul.products li.product .price ins, 
.woocommerce div.product p.price ins, 
.woocommerce ul.products li.product .price .woocommerce-Price-amount.amount, 
.woocommerce .variations td.label, 
.woocommerce .woocommerce-ordering select, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.select2-container .select2-choice{
  color:#ee591f ;
}
.woocommerce nav.woocommerce-pagination ul li a:before {
   background-color: #ee591f;
}
.page-numbers.current {
  background-color: #ee591f;
  color: #fff;
}
.navbar .nav .nav-item:hover .nav-link, .navbar .nav .nav-item.active .nav-link,body .navbar .nav .dropdown-menu > li.active > a, .navbar .nav .nav-item.current_page_parent .nav-link {
    color: #ee591f;
}
blockquote:not(.testi-3 blockquote) {
    border-left: 0.1875rem solid #ee591f;
}
.media-body {
    overflow: hidden;
}
@media (max-width: 600px) {
.page-section-space.page .alignleft {
    float: initial;
}
}
.navbar .nav .wp-block-button__link:hover,
.wp-block-search .wp-block-search__button:hover{ 
  background: #ee591f;color: #fff; 
}
.loader-5 span:nth-child(2),.loader-5 span:nth-child(3)
{
    background: #ee591f;
}
.navxt-breadcrumb .current-item, .rank-math-breadcrumb .last{ color: #ee591f; }
.page-breadcrumb span a:focus,.page-breadcrumb span a:focus,.rank-math-breadcrumb a:hover,  .navxt-breadcrumb span a:hover { color: #ee591f; }
.navxt-breadcrumb, .rank-math-breadcrumb,.rank-math-breadcrumb span.separator { color: #ee591f; }